#myCanvas {
    image-rendering:pixelated;
}

#outer {
    position:absolute;
}

#guideRect {
    position: fixed;
    width: 39px;
    height: 39px;
    background-color: none;
    // border:1px solid;
    color:black;
    top: 0;
    left: 0;
    pointer-events: none;
    display: none;
}

#ref {
    caret-color: rgba(255,255,255,0);
}

#paintbtn {
    position: fixed;
    width: 39px;
    height: 39px;
    background-color: purple;
    border:1px solid;
    color:black;
    top: 110px;
    left: 110px;

}

.greetings {
    position: fixed;
    top: 10%;
    left:5%;
}

#placeit {
    position: fixed;
    text-align: center;
    left: 43%;
    top: 77%;
    border-radius: 10px;
    width: 15%;
    height: auto;
    font-family: monospace;
    font-size: larger;
    display: none;
    
}

#leaveit {
    position: fixed;
    text-align: center;
    left: 15%;
    top: 14%;
    border-radius: 10px;
    display: none;
}

.placeit:hover {
    cursor: pointer;
}

#logged {
    position: fixed;
    top: 5%;
    left:5%;
    font-family: monospace;
    z-index: 3;
}

#unlogged {
    z-index: 3;
    position: fixed;
    top: 5%;
    left:5%;
    font-family: monospace;
}

h1 {
    font-family: monospace;
}

.orange {
    color: rgb(0, 0, 0);
}