<div *ngIf="auth.user | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
</ng-template>
<button (click)="addShit()"> check </button>


<div id="fixed" class="mat-elevation-z9">
    <div id="outer" class="mat-elevation-z9">
        <canvas id="myCanvas" width="1000" height="1000"></canvas>
    </div>

    <div id="guideRect">
    </div>

</div>
<!-- brushSize is @Output -->
<app-brushes (brushSize)="getBrushSize($event)"></app-brushes>
<app-palette (tileColor)="getColor($event)"></app-palette>

