#brushes-btn {
    position: absolute;
    top:70%;
    left:70%;
} 

.brushes-menu {
    position: absolute;
    width: 130px;
    height: 400px;
    left:-140px;
    top: -365px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(237, 237, 237);
}


