/* You can add global styles to this file, and also import other style files */
html {
    background: linear-gradient(to top right, #060628, #1F245A, #682359);
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

body {
    overflow: hidden;
    height: auto;
    width: auto;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
